---
layout: null
---
<!-- VERSION: index_v1.0.18 -->
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>浪遊 | Arte:p</title>
  <link rel="stylesheet" href="/assets/css/home.css">
  <link rel="stylesheet" href="/assets/css/home_mobile.css">

  </head>
 
<body>

  <div class="page">
    {% include sidebar.html %}
   
<main class="content">

  <section class="postcard-row">

    {% for post in site.posts %}

      <article class="postcard-card">

        <a href="{{ post.url }}" class="photo-link">
          <!--顯示照片套用哪一張 <p>HOME IMAGE DEBUG: {{ post.image }}</p> -->
          <div class="photo">
            <img src="{{ post.image }}" alt="{{ post.title }}">
          </div>
        </a>
      </article>
      {% endfor %} 

  </section>

</main>

  </div>

</body>
</html>
