<aside class="sidebar">

  <div class="brand">
    <div class="brand-title">浪遊</div>
    <div class="brand-author">Arte:p</div>
  </div>

  <nav class="menu">

    <a href="/"
       {% if page.url == "/" %}class="active"{% endif %}>
      HOME
    </a>

    <a href="/postcards/"
       {% if page.url contains "/postcards/" %}class="active"{% endif %}>
      POSTCARDS
    </a>

    <a href="/journal/"
       {% if page.url contains "/journal/" %}class="active"{% endif %}>
      JOURNAL
    </a>

    <a href="/about/"
       {% if page.url contains "/about/" %}class="active"{% endif %}>
      ABOUT
    </a>

    <a href="/contact/"
       {% if page.url contains "/contact/" %}class="active"{% endif %}>
      CONTACT
    </a>

  </nav>

  <div class="sidebar-bottom">
    Photography<br>
    Travel<br>
    Words<br><br>
    © 2026 Arte:p
  </div>

</aside>
