/* ========================================
   WANDERING GLOBAL THEME
    VERSION: theme_css_v0.0.3
   全站共用顏色
   ======================================== */

:root {
  --page-bg: #fbf8f3;
  --sidebar-bg: #e9e1d4;

  --text-main: #222;
  --text-secondary: #666;
  --text-light: #888;

  --border-color: #d9d9d5;
}

/* 全站背景 */
body {
  background: var(--page-bg);
  color: var(--text-main);
}

/* 全站 Sidebar 背景 */
.sidebar {
  background: var(--sidebar-bg);
}
